@font-face {
    font-family: 'karin_proregular';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/karin_pro-webfont.woff2') format('woff2'), url('../fonts/karin_pro-webfont.woff') format('woff');
}

@font-face {
    font-family: 'goodgirlregular';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/goodgirl-webfont.woff2') format('woff2'), url('../fonts/goodgirl-webfont.woff') format('woff');
}

@font-face {
    font-family: 'mouse_memoirsregular';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/mousememoirs-regular-webfont.woff2') format('woff2'), url('../fonts/mousememoirs-regular-webfont.woff') format('woff');
}

/* 1. ------------------------------------------------------ html */

html,
body {
    font-family: 'Open Sans', sans-serif;

    scroll-behavior: smooth;
    ont-size: 106.25%;
}

body {
    font-size: 17px !important;
    font-weight: 400 !important;
    font-style: normal;

    list-style: none;

    background: #cf4917;
}

h1,
h2,
h3 {
    font-family: 'goodgirlregular' !important;
}

h1 {
    font-size: 4vw;

    color: #f9ac3d;
}

h2 {
    font-size: 55px;
}

p {
    min-height: 20px;

    letter-spacing: .05em;
}

a,
i {
    text-decoration: none !important;
}

a:hover {
    transition: .4s;

    color: #fbe655;
    ;
}

hr {
    border-top: dotted 8px rgba(249, 172, 61, .2);
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.btn {
    color: #f9ac3d;
    border: 2px solid transparent;
    border-radius: 8px;
    background-color: transparent;
}

.btn a {
    color: #cf4917;
}

.stroke {
    -webkit-text-stroke: .01em rgba(176, 46, 10, 1);
}

.shadows {
    -webkit-box-shadow: 3px -3px 20px rgba(0, 0, 0, .3);
       -moz-box-shadow: 3px -3px 20px rgba(0, 0, 0, .3);
            box-shadow: 3px -3px 20px rgba(0, 0, 0, .3);
}

.text-shadows {
    text-shadow: 3px 3px 0 #a0381d, -1px -1px 0 #a0381d, 1px -1px 0 #a0381d, -1px 1px 0 #a0381d, 1px 1px 0 #a0381d;
}

.yellow {
    color: rgba(239, 222, 73, 1.00) !important;
}

.orange {
    color: rgba(207, 73, 23, 1.00) !important;
}

.brown {
    color: rgba(101, 52, 25, 1.00) !important;
}

.border-yellow {
    border: 3px solid rgba(239, 222, 73, 1.00) !important;
}

.rounded {
    border-radius: 8px !important;
}

/* 2. ------------------------------------------------------ nav */

.navbar .nav-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
}

.nav-container {
    top: 0;
    right: 0;
    left: 0;

    background: rgba(207, 73, 23, .8);
}

.navbar-toggler .fa {
    color: rgba(239, 222, 73, 1.00);
}

.nav-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;

    padding: 8px 0;

    text-decoration: none;

    color: rgba(239, 222, 73, 1.00);
}

.logo-text {
    font-family: 'karin_proregular', sans-serif;
    font-size: 40px;

    color: rgba(239, 222, 73, 1.00);
}

.logo-text::after {
    font-family: 'Open Sans', sans-serif;
    font-size: 7px;

    margin-left: -125px;

    content: 'The';
    vertical-align: 16px;

    color: rgba(239, 222, 73, 1.00);

    -webkit-text-stroke: .01em rgba(176, 46, 10, 0);
}

/* 3. ------------------------------------------------------ sections */

section,
footer {
    background:    -moz-linear-gradient(top, #cf4917 0%, #dd6a24 25%, #e47b2a 0%, #dd6a24 75%, rgba(207, 73, 23, 1) 100%);
    background: -webkit-linear-gradient(top, #cf4917 0%, #dd6a24 25%, #e47b2a 0%, #dd6a24 75%, rgba(207, 73, 23, 1) 100%);
    background:         linear-gradient(to bottom, #cf4917 0%, #dd6a24 25%, #e47b2a 50%, #dd6a24 75%, rgba(207, 73, 23, 1) 100%);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf4917', endColorstr='#cf4917', GradientType=0);
}

section .section-gap {
    padding: 60px 0 40px;
}

a.scrollArrow {
    position: absolute;
    bottom: 0;
    left: 50%;

    display: inline-block;

    transition: opacity .3s;
    text-decoration: none;
    letter-spacing: .1em;

    color: #f9ac3d;
}

a.scrollArrow:hover {
    opacity: .5;
}

a.scrollArrow {
    position: absolute;
    bottom: 0;

    padding-top: 80px;

    transition: opacity .3s;

    color: #fff;
}

a.scrollArrow span {
    position: absolute;
    top: 0;
    left: 50%;

    box-sizing: border-box;
    width: 40px;
    height: 40px;
    margin-left: -20px;

    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-animation: scrollArrow 2s infinite;
            animation: scrollArrow 2s infinite;

    border-bottom: 1px solid #f9ac3d;
    border-left: 1px solid #f9ac3d;
}

@-webkit-keyframes scrollArrow {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }
    20% {
        -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }
}

@keyframes scrollArrow {
    0% {
        transform: rotate(-45deg) translate(0, 0);
    }
    20% {
        transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
        transform: rotate(-45deg) translate(0, 0);
    }
}

/* 4. ------------------------------------------------------ intro */

#intro {
    height: 100vh;

    background: url(../img/intro-bg.jpg);
    background-color: #cf4917;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.intro-overlay {
    width: 100%;
    height: 100%;

    background:    -moz-linear-gradient(top, rgba(18, 18, 18, 0) 0%, rgba(207, 73, 23, 1) 0, rgba(207, 73, 23, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(18, 18, 18, 0) 0%, rgba(207, 73, 23, 1) 0, rgba(207, 73, 23, 1) 100%);
    background:         linear-gradient(to bottom, #cf4917 0%, rgba(207, 73, 23, 0) 0, rgba(207, 73, 23, 1) 100%);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf4917', endColorstr='#cf4917', GradientType=0);
}

#monkeesImage {
    position: absolute;
    top: 50%;
    left: 50%;

    margin: 0;

    transform: translate(-50%, -50%);
}

#intro .btn,
#intro .btn:active {
    transition: .5s ease;

    color: rgba(176, 46, 10, 1);
    border: solid 2px;
    background: rgba(255, 136, 49, 1);
    ;
}

#intro .btn:hover {
    color: rgba(255, 136, 49, 1);
    border: solid 2px;
    background: rgba(176, 46, 10, 1);
}

/* 5. ------------------------------------------------------ band */

.card {
    min-height: 450px !important;

    background: rgba(234, 199, 112, 0);
}

.card-body {
    height: 100%;

    background: rgba(234, 199, 112, .3);
}

.btn-primary {
    color: #e8c674;
    border-color: #e8c674;
    background-color: none;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
       -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
         -o-transform: rotateY(0deg);
            transform: rotateY(0deg);

    background: rgba(234, 199, 112, .0);
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
       -moz-transform: rotateY(180deg);
         -o-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

.mainflip {
    position: relative;

    -webkit-transition: 1s;
       -moz-transition: 1s;
        -ms-transition: 1s;
            transition: 1s;
    -moz-transform: perspective(1000px);

    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.frontside {
    position: relative;
    z-index: 2;

    margin-bottom: 30px;

    -webkit-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
}

.backside {
    position: absolute;
    top: 0;
    left: 0;

    -webkit-transform: rotateY(-180deg);
       -moz-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
         -o-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
}

.frontside,
.backside {
    -webkit-transition: 1s;
       -moz-transition: 1s;
        -ms-transition: 1s;
         -o-transition: 1s;
            transition: 1s;

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
         -o-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.backside .card a {
    color: #fbe655 !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #fbe655 !important;
}

.frontside .card .card-body img {
    width: 240px;
    height: 240px;

    border: 3px solid #fbe655;
    border-radius: 50%;
    ;
}

.backside {
    margin: 0;
    padding: 0;
}

/* 6. ------------------------------------------------------ video */

/* 7. ------------------------------------------------------ audio */

/* Audio Snippet by by Michal Szymanski - http://bit.ly/2z0o2TE */

#audio {
    position: relative;

    width: 100%;

    background:    -moz-linear-gradient(top, rgba(207, 73, 23, .85) 0%, rgba(160, 56, 28, .85) 25%, rgba(160, 56, 28, .85) 0%, rgba(160, 56, 28, .85) 75%, rgba(207, 73, 23, .85) 100%);
    background: -webkit-linear-gradient(top, rgba(207, 73, 23, .85) 0%, rgba(160, 56, 28, .85) 25%, rgba(160, 56, 28, .85) 0%, rgba(160, 56, 28, .85) 75%, rgba(207, 73, 23, .85) 100%);
    background:         linear-gradient(to bottom, rgba(207, 73, 23, .85) 0%, rgba(160, 56, 28, .85) 25%, rgba(160, 56, 28, .85) 50%, rgba(160, 56, 28, .85) 75%, rgba(207, 73, 23, .85) 100%);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(207, 73, 23, .85)', endColorstr='rgba(207, 73, 23, .85)', GradientType=0);
}

/* 8. ------------------------------------------------------ gallery */

#albumArtGallery img {
    opacity: .7;
}

#albumArtGallery img:hover {
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
         -o-transition: all .3s ease-in-out;

    opacity: 1;
}

.fancybox-bg {
    transition-timing-function: cubic-bezier(120, 34, 2, .71);

    background: rgb(120, 34, 2) !important;
}

.fancybox-infobar {
    color: #e8c674 !important;
}

.fancybox-button,
.fancybox-button:link,
.fancybox-button:visited {
    color: #e8c674 !important;
}

.fancybox-thumbs {
    background: #cf4917 !important;
}

.fancybox-thumbs__list a::before {
    border: 6px solid #f9ac3d !important;
}

.fancybox-progress {
    background: #f9ac3d !important;
}

.fancybox img {
    cursor:    -moz-zoom-in;
    cursor: -webkit-zoom-in;
    cursor:         zoom-in;
}

/* 9. ------------------------------------------------------ footer */

footer.footer-overlay {
    width: 100%;
    height: 100%;

    background: rgba(170, 48, 2, .4);
}

footer .fa {
    font-size: 20px;
    line-height: 36px;

    width: 38px;
    height: 38px;
    margin-left: 3px;

    text-align: center;

    color: #192346;;
    border: 2px solid #192346;
    border-radius: 100%;
}

.copyright {
    color: #192346;
}

/* 10. ----------------------------------------------------- media queries */

@media only screen and (max-width: 768px) {
    h2 {
        font-size: 32px;
    }
    h5 {
        font-size: 12px;
    }
}

@media (orientation: landscape) {
    #monkeesImage {
        width: 50%;
        padding-top: 40px;
    }
    .strapline {
        display: none;
    }
    a.scrollArrow span {
        width: 20px;
        height: 20px;
        margin-top: 35px;
        margin-left: -12px;
    }
}

/* --------------------------------------------------------- dhstudio ribbon */

.ribbon {
    height: 5px;

    background-image: url(../img/ribbon.png);
    background-repeat: repeat-x;
    -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .2);
       -moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .2);
            box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .2);
}
